[Unit]
Description=Streamarr Frontend (Quasar SPA)

[Container]
Image=registry.gitlab.com/streamarr.media/frontend:latest
ContainerName=streamarr-frontend

PublishPort=3000:3000

[Service]
Restart=unless-stopped
TimeoutStartSec=30

[Install]
WantedBy=default.target